<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>ColorGearCMMC</string>
	<key>CFBundleGetInfoString</key>
	<string>3.1.6, Copyright CANON INC. 2011</string>
	<key>CFBundleIdentifier</key>
	<string>jp.co.canon.ColorGearCMMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>3.1.6, Copyright CANON INC. 2011</string>
	<key>CFBundleName</key>
	<string>ColorGear CMM C</string>
	<key>CFBundlePackageType</key>
	<string>CMM </string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.6</string>
	<key>CFBundleSignature</key>
	<string>UCMS</string>
	<key>CFBundleVersion</key>
	<string>3.1.6</string>
	<key>NSHumanReadabableCopyright</key>
	<string>Copyright CANON INC. 2011</string>
</dict>
</plist>
